body {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
}

div.main-container {
    width: 50%;
    min-width: 600px;
    max-width: 1100px;
    min-height: 675px;
    margin: 30px auto;
    padding: 50px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid black;
}

#security-questions-container {
    display: none;
}

#change-password-container {
    display: none;
}

div.error-box {
    display: none;
    background-color: #faccd9;
    border: 1px solid #80354a;
    color: #80354a;
    text-align: center;
    padding: 10px;
}

div.input-box {
    width: 100%;
}

div.input-box input {
    flex: 1;
    width: 100%;
    border: none;
    border-bottom: black 1px solid;
    padding: 20px 0;
    text-indent: 20px;
    font-size: 1em;
    letter-spacing: 3px;
    margin: 10px 0;
}

.invalid {
    border: 1px solid #80354a;
    background-color: #faccd9;
    color: #80354a;
}

.password-toggle {
    cursor: pointer;
    margin-right: 10px;
}

div.input-box input::placeholder {
    font-size: small;
}

div.input-box input:focus, .password-toggle:focus {
    outline: none;
    border-bottom: 2px solid #995599;
    background-color: #bf97bf2d;
}

div.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px;
    padding: 0 10px;
    font-size: small;
    letter-spacing: 3px;
}

.option-items #remember-me {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.option-items label {
    align-items: center;
    vertical-align: middle;
}

div.terms-container {
    font-size: small;
    padding: 10px 20px 20px;
    color: #3E3E3E;
    letter-spacing: 2px;
    font-size: 0.85em;
}

.button {
    width: 200px;
    margin-left: 20px;
    padding: 15px 20px;
    margin: 20px 0px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #EF91CF;
    cursor: pointer;
}

.button:hover {
    background-color: #995599;
}


.password-toggle {
    cursor: pointer;
    margin-right: 10px;
}

div.input-box input::placeholder {
    font-size: small;
}

div.input-box input:focus, .password-toggle:focus {
    outline: none;
    border-bottom: 2px solid #995599;
    background-color: #bf97bf2d;
}

div.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px;
    padding: 0 10px;
    font-size: small;
    letter-spacing: 3px;
}

.option-items #remember-me {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.option-items label {
    align-items: center;
    vertical-align: middle;
}

div.terms-container {
    font-size: small;
    padding: 10px 20px 20px;
    color: #3E3E3E;
    letter-spacing: 2px;
    font-size: 0.85em;
}

.password i.show-password {
    width: 18px;
    height: 18px;
    float: right;
    cursor: pointer;
    position: relative;
    left: -15px;
    top: -47px;
}