<!DOCTYPE html>
<html lang = "en">
<head>
    <title> Login Page </title>
    <meta name = "viewport" content= "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/users/passwordReset.css">
    <link rel = "stylesheet" href = "/css/main/font.css">
    <script src = "js/users/passwordReset.js" defer> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>  
    <%- include("../main/header.ejs") %>
    <div class = "main-container" id = "main-container">
        <div class = "error-box" id = "error-box"> 
        </div>
        <div class = "content-container">
            <form id = "user-container">
                <h2 class="title">Password Reset</h2>
                    <div class = "input-box email">
                        <input type = "text" id = "email" name = "email" placeholder = "Email" required>
                    </div>
                <button type="submit" id = "user-submit" class="button"> Reset </button>
            </form>

            <form id = "security-questions-container">
                <h2 class="title">Security Questions</h2>
                <div class = "input-container-register">
                    <div class = "security-question" id = "question1">
                    </div>
                    <div class = "input-box">
                        <input type = "text" id = "answer1" name = "answer1" placeholder = "Answer" required >
                    </div>
                    <div class = "security-question" id = "question2">
                    </div>
                    <div class = "input-box">
                        <input type = "text" id = "answer2" name = "answer2" placeholder = "Answer" required >
                    </div>
                </div>
                <button type="submit" id = "answer-submit" class="button"> Continue </button>
            </form>

            <form id = "change-password-container">
                <h2 class="title">Change Password</h2>
                <div id = "password-policy"> 
                    Password must be at least 8 characters long. <br>
                    Password must also have at least one of each: <br>
                    Uppercase Character <br>
                    Lowercase Character <br>
                    Number <br>
                    Special Character <br>
                </div>
                <div class = "input-container">
                    <div class = "input-box password">
                            <input type = "password" id = "password1" name = "password1" placeholder = "New Password" required>
                            <i class="fa-solid fa-eye show-password" id="password1-toggle" style="color: #969696;"></i>
                    </div>
                    <div class = "input-box password">
                            <input type = "password" id = "password2" name = "password2" placeholder = "Confirm Password" required>
                            <i class="fa-solid fa-eye show-password" id="password2-toggle" style="color: #969696;"></i>
                    </div>
                </div>
                <button type = "submit" id = "password-submit" class="button">Submit</button>
            </form>
        </div>
    </div>
    <%- include("../main/footer.ejs") %>
</body>
</html>